body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.main {
  display: flex;
  background-image: url(images/banner.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position-y: bottom;
}
.first-benner {
  width: 50%;
  padding-left: 40px;
  text-align: justify;
}
.first-benner img {
  width: 80%;
  margin-top: 30px;
  max-height: 70%;
  border-radius: 30%;
}
.logo {
  color: orange;
}
h1 {
  font-size: 49px;
}
p {
  line-height: 20px;
}
.link-button {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  background: rgb(255, 152, 115);
  background: linear-gradient(90deg, rgba(255, 152, 115, 1) 11%, rgba(255, 103, 74, 1) 49%);
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
}
